<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is about</title>
</head>
<body>
    <p>This is about.html . It contain value which has passed as variable in functionAbout.This is function --> {{name}} and this is variable --> {{variable}} .  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aperiam iusto illum ea, veritatis quos dolorem qui itaque perferendis sapiente! Asperiores debitis animi unde numquam, iste veritatis nesciunt aut ex!</p>

</body>
</html>
